#register{
    display:inline-block;

}
#login{
    display:inline-block;
    margin :0px 0px 0px 133px;
    position: relative;
    bottom: 127px;

}
#error{
        display:inline-block;
        color:red;  
        position: relative;
        bottom: 7px;
}
*{
    background-color: lavender;
}